.screen {
    background-color: #000000;
    font-family: 'Consolas', monospace;
    font-size: 20px;
    color: #ffffff;
}
textarea {
    background-color: #000000;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    color: #ffffff;
    font-family: 'Consolas', monospace;
    font-size: 1rem;
    width: 100vw;
}
.cmd-input {
  resize: none;
  overflow: hidden;
  width: 100%;
  font-family: 'Consolas', monospace;
  white-space: pre-wrap;
  word-break: break-word;
}
.screen-title {
    padding-bottom: 0.5rem;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-shadow:1px 1px 5px #fff, 1px 1px 5px #ccc;
}