/*shall we get started*/

/*need ts keyframe gng*/
@keyframes scanline {
  0% {
    bottom:100%;
  }
  80% {
    bottom:100%;
  }
  100% {
    bottom:0%;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.438992419330px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.479403789985px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614849px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.083303730804px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.620876447383px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* base HTML */
html {
  font-family: 'Comic Neue', Tahoma, Verdana, sans-serif;
  text-align: center;
  color: #f5f5f5;
  font-size: 25px;
  background-image: url('images/bgimg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}
.error {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.75rem;
}
body {
  color: #36d974;
}
a {
  color: #f0f0f0;
}
a:hover {
  color: #ffd700;
}
footer {
  background-color: rgba(8, 181, 191, 0.75);
  color: rgba(143, 255, 232, 1);
}
img {
  max-width: 100%;
  height: auto;
  min-width: 10%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
q {
  font-size: 0.75rem;
  font-family:'Times New Roman', Times, serif;
}

/* non-<div> styles */
p.fineprint {
  font-size: 0.8em;
  color: #15767b;
  transition-property:font-size,color;
  transition-duration:300ms;
  transition-delay:100ms;
}
p.fineprint:hover {
  font-size: 1em;
  color: #36d974;
}
#loading {
  animation:blink 1.06s infinite;
  display:none;
}

/* random <div> styles */
.warning {
  border: 3px #ff0000 solid;
  background-color: #ba1109;
  color: #fefefe;
  font-family: Times New Roman, Times, sans-serif;
}
.splash{
    font-family: 'minecraftia', 'Montserrat', 'Calibri', sans-serif;
    text-decoration: none;
    color: #d00;
    transition-delay: 0.2s;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

/* baseline <div> styles */
.layout {
  display: flex;
  justify-content: space-evenly;
}
.content {
  width: 70%;
  padding: 0.5%; /* Optional: aligns text normally */
}
.sidediv {
  overflow-y: auto;
  overflow-x: hidden;
  width: 30%;
  padding-left: 1.5%;
  padding-top: 1%;
}

/* a,b,c,d,e etc <div> styles */
.sidediva {
  border: 3px solid #070fed;
  transition-property: border;
  transition-duration: 500ms;
  margin: 7.5px;
}
.sidediva:hover, .sidediva:focus {
  border: 5px solid #6000d5;
}

/* CRT/DISPLAY SCREEN CSS */
.crt {
  animation: textShadow 1.7s infinite;
}
#display {
  width:100%; 
  height:600px; 
  border:none; 
  display:none;
}

/* fonts */
@font-face {
  font-family: 'Comic Neue'; src: url('https://bionik-aster.github.io/fonts/ComicNeue-Regular.ttf');
}
@font-face {
  font-family: 'minecraftia'; src: url('https://bionik-aster.github.io/fonts/Minecraftia-Regular.ttf');
}
@font-face{
  font-family: 'ikibimi'; src: url('https://bionik-aster.github.io/fonts/AncientIkibimi-Regular.ttf');
}