/*shall we get started*/

/*need ts keyframe gng*/
@keyframes scanline {
  0% {
    bottom:100%;
  }
  80% {
    bottom:100%;
  }
  100% {
    bottom:0%;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.438992419330px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.479403789985px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614849px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.083303730804px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.620876447383px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
/* base HTML */
html {
  font-family: 'Comic Neue', Tahoma, Verdana, sans-serif;
  text-align: center;
  color: #f5f5f5;
  font-size: 25px;
  background-image: url('images/bgimg.png')
}
.error {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.75rem;
}
body {
  background-color: rgba(18, 16, 16, 0.95);
  color: #36d974;
}
a {
  color: #f0f0f0;
}
a:hover {
  color: #ffd700;
}
footer {
  background-color: rgba(8, 181, 191, 0.75);
  color: rgba(143, 255, 232, 1);
}
img {
  width: 50svw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
q {
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;
}

/* random <div> styles */
.content {
  margin-left: 350px;
  padding: 20px; /* Optional: aligns text normally */
}
.top {
  border: 2px #c00 solid;
  border-radius: 5px;
}
.warning {
  border: 3px #ff0000 solid;
  background-color: #ba1109;
  color: #fefefe;
  font-family: Times New Roman, Times, sans-serif;
}
.splash{
    font-family: 'minecraftia', 'Montserrat', 'Calibri', 'sans-serif';
    text-decoration: none;
    color: #d00;
    transition-delay: 0.2s;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

/* baseline <div> styles */
.sidediv {
    padding: 10px;
}

/* CRT/DISPLAY SCREEN CSS */
.crt {
  animation: textShadow 1.7s infinite;
}
.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0.2) 10%,
      rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}
/* fonts */
@font-face {
    font-family: 'Comic Neue'; src: url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
}