/*shall we get started*/

/*need ts keyframe gng*/
@keyframes scanline {
  0% {
    bottom:100%;
  }
  80% {
    bottom:100%;
  }
  100% {
    bottom:0%;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.438992419330px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.479403789985px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614849px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.083303730804px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.620876447383px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move {
  from {transform: translateX(100%);}
  to {transform: translateX(-100%);}
}
/* base HTML */
html {
  font-family: 'Comic Neue', Tahoma, Verdana, sans-serif;
  text-align: center;
  color: #f5f5f5;
  font-size: 25px;
  background-image: url('images/bgimg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}
.error {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.75rem;
}
body {
  color: #36d974;
}
footer {
  background-color: rgba(8, 181, 191, 0.75);
  color: rgba(143, 255, 232, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* non-<div> styles */
p.fineprint {
  font-size: 0.8em;
  color: #15767b;
  transition-property:font-size,color;
  transition-duration:300ms;
  transition-delay:100ms;
}
p.fineprint:hover {
  font-size: 1em;
  color: #36d974;
}
#loading {
  animation:blink 1.06s infinite;
  display:none;
}
a {
  text-decoration: none;
  color: #f0f0f0;
}
a:hover {
  color: #ffd700;
}
ul {
  list-style-type: none;
}
q {
  font-size: 0.75rem;
  font-family:'Times New Roman', Times, serif;
}
img {
  max-width: 100%;
  height: auto;
  min-width: 10%;
}
button {
  background-color: #f0f0f0;
  box-shadow: 3px 3px 1px 3px #b1b1b1, -3px -3px 1px 3px #b1b1b1, -3px 3px 1px 3px #b1b1b1, 3px -3px 1px 3px #b1b1b1;
  border-radius: 0.075rem;
  border: 1px solid #cdcdcdcd;
  padding: 2px;
  transition-property: all;
  transition-duration: 500ms;
  transition-behavior: allow-discrete;
  transition-delay: 100ms;
  font-family: Consolas, Monaco, monospace;
}
button:hover {
  background-color: #9e9e9e;
  box-shadow: 2px 2px 1px 2px #6e6e6e, -2px -2px 1px 2px #6e6e6e, -2px 2px 1px 2px #6e6e6e, 2px -2px 1px 2px #6e6e6e;
  border-radius: 0.075rem;
  border: 0px solid #bebebecd;
  padding: 5px;
  font-family: Consolas, Monaco, monospace;
}

/* responsiveness tweak */
@media screen and (width < 683px) {
  h1 {
    font-size: 0.8em;
  }
  p.fineprint {
    font-size: 0.5em;
  }
  p {
    font-size: 0.6em;
  }
}

/* random <div> styles */
.warning {
  border: 3px #ff0000 solid;
  background-color: #ba1109;
  color: #fefefe;
  font-family: Times New Roman, Times, sans-serif;
}
.splash{
    font-family: 'minecraftia', 'Montserrat', 'Calibri', sans-serif;
    text-decoration: none;
    color: #d00;
    transition-delay: 0.2s;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

/* baseline <div> styles */
.layout {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  height: 100vh;
}
.content {
  width: 70%;
  padding: 0.5%; /* Optional: aligns text normally */
  height: 100%;
  overflow-y: auto;
}
.sidediv {
  overflow-y: auto;
  overflow-x: hidden;
  width: 30%;
  padding-left: 1.5%;
  padding-top: 1%;
  height:100%;
}

/* a,b,c,d,e etc <div> styles */
.sidediva {
  border: 3px solid #070fed;
  transition-property: border;
  transition-duration: 500ms;
  margin: 7.5px;
}
.sidediva:hover, .sidediva:focus {
  border: 5px solid #6000d5;
}
.sidedivb {
  border: 3px solid #ba1109;
  width: auto;
  padding: 1%;
  overflow-x: hidden;
  background-color: rgba(18, 16, 16, 0.95);
  color: #36d974;
  font-family: Consolas, Monaco, monospace;
  background-image: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 8px;
  background-attachment: fixed;
  background-repeat: repeat-y;
  position:relative;
}
.sdbcontent {
  transform: translateX(100%);
  display: inline-block;
  white-space: nowrap;
  animation: none;
}
.sdbcontent.scroll {
  animation: move 15s linear infinite;
}

/* scrollbar CSS */
.content,.sidediv {
  scrollbar-color: #86ffb5 rgba(0, 219, 157, 0.1);
}
.content::-webkit-scrollbar,.sidediv::-webkit-scrollbar {
  width: 0.5rem;
}
.content::-webkit-scrollbar-track,.sidediv::-webkit-scrollbar-track {
  background-color: rgba(0, 219, 157, 0.1);
  border-left: 2px solid rgba(0,219,157,0.9);
}
.content::-webkit-scrollbar-thumb,.sidediv::-webkit-scrollbar-thumb {
  background: #86ffb5;
  transition-property: background;
  transition-duration: 200ms;
  border: 2px solid rgba(18, 16, 16, 0.9);
  border-radius: 0.25rem;
  box-shadow: inset 0 0 4px rgba(54, 217, 116, 0.8), 0 0 6px rgba(54, 217, 116, 0.5);
}
.content::-webkit-scrollbar-thumb:hover,.sidediv::-webkit-scrollbar-thumb:hover {
    background: #21c7ff;
}

/* CRT/DISPLAY SCREEN CSS */
.crt {
  animation: textShadow 1.7s infinite;
}
#display {
  width:100%; 
  height:600px; 
  border:none; 
  display:none;
}

/* fonts */
@font-face {
  font-family: 'Comic Neue'; src: url('https://bionik-aster.github.io/fonts/ComicNeue-Regular.ttf');
}
@font-face {
  font-family: 'minecraftia'; src: url('https://bionik-aster.github.io/fonts/Minecraftia-Regular.ttf');
}
@font-face{
  font-family: 'ikibimi'; src: url('https://bionik-aster.github.io/fonts/AncientIkibimi-Regular.ttf');
}
@font-face{
  font-family: 'Univers 57 Condensed Oblique'; src: url('https://bionik-aster.github.io/fonts/Univers57Condensed-Oblique.otf');
}