html {
    font-size: 25px;
    background-color:rgb(254, 255, 255);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
}
.main {
    margin: 10px;
}
button {
    background-color: navy;
    border-radius: 5px;
    border-color: navy;
    padding: 5px 20px;
    height: auto;
    transition: all 250ms;
    color: white;
    font-size: 1.1rem;
}
button:hover {
    padding: 0px 5px;
    background-color: aquamarine;
    color: black;
}
button p {
    margin: 0;
}
footer {
    background-color: black;
    color: white;
    margin: 0;
    padding: 20px;
    font-size: 0.9rem;
}
img {
    max-width: 80%;
}

/* headers */
.header {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    display: flex;
    margin: 0;
    padding: 5px 15px;
    justify-content: space-between;
}
.headertext {
    margin-left: 30px;
}
.headertext p {
    margin: 0;
}
.headernav {
    display: flex;
    gap: 45px;
}
.headernav a {
    color: white;
    text-decoration: none;
}
.headernav a:hover {
    color:aquamarine;
}

/* progress bar */
.container {
    background-color: rgba(215, 215, 215, 0.65);
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
}

.prog {
    background-color: rgb(72, 138, 252);
    text-align: right;
    height:30px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 10px;
    text-wrap: nowrap;
}

.prog p {
    margin-right: 7px;
}
/* shenanigans */


/* flexible thingy */
@media screen and (width >= 1080px) {
    .container {
        width: 30%;
    }
    img {
        max-width: 40%;
    }
}