.screen {
    background-color: #000000;
    font-family: 'Consolas', monospace;
    font-size: 20px;
    color: #ffffff;
}
input[type=text] {
    background-color: #000000;
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    color: #ffffff;
    font-family: 'Consolas', monospace;
    font-size: 1rem;
}
.screen-title {
    padding-bottom: 0.5rem;
}